.service {
  padding: 15px;

  .service__title {
    border-bottom: 3px solid #3A3A3A;
    color: #3A3A3A;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin: .5em;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .service__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  
    .service__list__item {
      $frame-size: 16px;
      $frame-color: #3A3A3A;
      
      border: $frame-size solid $frame-color;
      border-radius: 3px;
      box-shadow: inset 0px 0px 3px $frame-color;
      margin: 5px;
      padding: $frame-size;
      position: relative;
      
      .service__photo {
        $size: 220px;
        
        border-radius: 2px;
        display: block;
        object-fit: cover;
        object-position: center;
        height: calc(#{$size} * 1.45);
        width: $size;
      }
    }
  }
}