.service {
    padding: 15px;

    .service__title {
        border-bottom: 3px solid #3A3A3A;
        color: #3A3A3A;
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 2em;
        font-weight: bold;
        margin: .5em;
        padding-bottom: 10px;
        text-transform: uppercase;
    }

    .service__photo {
        $size: 264px;
        border-radius: 50%;
        display: block;
        object-fit: cover;
        object-position: center;
        height: $size;
        margin: 1em auto;
        width: $size;
    }

    @media screen and (min-width: 768px) {
        .service__photo-list {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        .service__title {
            font-size: 3em;
        }

        .service__photo {
            margin: 5px;
        }
    }
}